.main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 200px;
    display: block;
}

.container,
.row,
.col {
    border: 2px solid lightslategray;
    padding: 20px;
}

.train-ticket img {
    margin: 0 auto;
}

.train-ticket .ticket-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.train-ticket .ticket-code {
    text-align: center;
    font-size: 2rem;
}